.navbar {
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
	padding: 2px;
	align-items: center;
	display: inline-block;
	margin-bottom: 10px;
}

.navbar nav {
	align-items: center;
}

.nav-link {
	margin: 2px 2px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	background-color: #007BFF;
	border-radius: 4px;
	transition: background-color 0.5s ease;
}

.nav-link:hover {
	background-color: #333333;
}

.nav-link.active {
	background-color: #0056b3;
	font-weight: bold;
}

.nav-link.active:hover {
	background-color: #003580;
}
